* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.container>div {
    font-size: 3rem;
    cursor: pointer;
    transition: 1s;
}
.container>div:hover {
    transform: scale(1.5);
}
